
@* 5 *@

<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item active">
        <a class="menu-link" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">首頁</div>
        </a>
    </li>

    <!-- 帳號管理 -->
    <!-- 帳號管理 -->
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-user-circle"></i>
            <div data-i18n="Accounts">帳號管理</div>
        </a>
        <ul class="menu-sub">
            <!-- 內部帳號管理 -->
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <div data-i18n="Internal Accounts">內部帳號管理</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a class="menu-link" asp-area="Employee" asp-controller="EmployeeAuth" asp-action="Register">
                            <div data-i18n="Register">註冊</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" asp-area="Employee" asp-controller="EmployeeAuth" asp-action="EmployeeList">
                            <div data-i18n="Employee List">員工管理</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" asp-area="Employee" asp-controller="EmployeeAuth" asp-action="Profile">
                            <div data-i18n="My Profile">我的資料</div>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- 外部帳號管理 -->
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <div data-i18n="External Accounts">外部帳號管理</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a class="menu-link" asp-area="Employee" asp-controller="CustomerAdmin" asp-action="CustomerList">
                            <div data-i18n="Customer List">客戶資料</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" asp-area="Employee" asp-controller="VendorAdmin" asp-action="VendorRegister">
                            <div data-i18n="Vendor Register">廠商註冊</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" asp-area="Employee" asp-controller="VendorAdmin" asp-action="VendorList">
                            <div data-i18n="Vendor List">廠商資料</div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>


    <!-- 行程/優惠券管理 -->
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-calendar-days"></i>
            <div data-i18n="行程/優惠券管理">行程/優惠券管理</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a class="menu-link" asp-area="ProductManagement" asp-controller="Products" asp-action="Index">
                    <div data-i18n="產品檢視">產品檢視</div>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" asp-area="CouponManagement" asp-controller="Coupons" asp-action="Index">
                    <div data-i18n="優惠券檢視">優惠券檢視</div>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" asp-area="ProductManagement" asp-controller="Products" asp-action="Preview">
                    <div data-i18n="產品預覽">產品預覽</div>
                </a>
            </li>
        </ul>
    </li>

    <!-- 訂單管理 -->
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-clipboard-list"></i>
            <div data-i18n="訂單管理">訂單管理</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a class="menu-link" asp-area="Order" asp-controller="CustomerOrders" asp-action="Index">
                    <div data-i18n="訂單檢視">訂單檢視</div>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" asp-area="Order" asp-controller="Email" asp-action="Send">
                    <div data-i18n="Email發送">Email發送功能</div>
                </a>
            </li>
        </ul>
    </li>

    <!-- 半自助/自助行程管理 -->
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-map-location-dot"></i>
            <div data-i18n="行程管理">半自助/自助行程管理</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a class="menu-link" asp-area="TravelManagement" asp-controller="Locations" asp-action="Index">
                    <div data-i18n="景點">景點</div>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" asp-area="TravelManagement" asp-controller="Restaurants" asp-action="Index">
                    <div data-i18n="美食">美食</div>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" asp-area="TravelManagement" asp-controller="Hotels" asp-action="Index">
                    <div data-i18n="住宿">住宿</div>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" asp-area="TravelManagement" asp-controller="Transportations" asp-action="Index">
                    <div data-i18n="交通">交通</div>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" asp-area="TravelManagement" asp-controller="Keywords" asp-action="Index">
                    <div data-i18n="關鍵字">關鍵字</div>
                </a>
            </li>
        </ul>
    </li>

    <!-- 報表分析/最新消息活動管理 -->
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-magnifying-glass-chart"></i>
            <div data-i18n="ReportsAndNews">最新消息/優惠活動活動管理</div>
        </a>
        @* <ul class="menu-sub"> *@
        <!-- 最新消息活動管理 -->
        @* <li class="menu-item"> *@
        @* <a href="javascript:void(0);" class="menu-link menu-toggle">
                <div data-i18n="NewsAndPromotions">最新消息活動管理</div>
            </a> *@
        <ul class="menu-sub">
            <li class="menu-item">
                <a class="menu-link" asp-area="Admin" asp-controller="NewsTables" asp-action="Index">
                    <div data-i18n="News">最新消息</div>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" asp-area="Admin" asp-controller="Promotions" asp-action="Index">
                    <div data-i18n="Promotions">優惠活動</div>
                </a>
            </li>
        </ul>
        @*     </li>
    </ul> *@
    </li>

    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-magnifying-glass-chart"></i>
            <div data-i18n="ReportsAndNews">報表分析</div>
        </a>
        @* <ul class="menu-sub">
        <!-- 報表分析 -->
        <li class="menu-item"> *@
        @* <a href="javascript:void(0);" class="menu-link menu-toggle">
                <div data-i18n="Reports">報表分析</div>
            </a> *@
        <ul class="menu-sub">
            <li class="menu-item">
                <a class="menu-link" asp-area="Admin" asp-controller="Reports" asp-action="Dashboard">
                    <div data-i18n="Dashboard">儀表板</div>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" asp-area="Admin" asp-controller="Reports" asp-action="MemberSubscriptionRatio">
                    <div data-i18n="SubscriptionRatio">訂閱會員比例</div>
                </a>
            </li>
        </ul>
        @*     </li>
    </ul> *@
    </li>

    <!-- 客服 / FAQ 管理 -->
    <li class="menu-item">
        <a class="menu-link menu-toggle" href="javascript:void(0);">
            <i class="menu-icon tf-icons fa-solid fa-envelope-open-text"></i>
            <div data-i18n="CustomerService">客服 / FAQ 管理</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a class="menu-link" asp-area="CustomerService" asp-controller="FAQs" asp-action="Index">
                    <div data-i18n="FAQs">FAQs 維護</div>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" asp-area="CustomerService" asp-controller="CustomerSupportTickets" asp-action="Index">
                    <div data-i18n="Tickets">客服工單維護</div>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" asp-area="CustomerService" asp-controller="CustomerSupportFeedback" asp-action="Index">
                    <div data-i18n="Ratings">客服評價維護</div>
                </a>
            </li>
        </ul>
    </li>

    @await Html.PartialAsync("_Logout")
</ul>
