<ul class="menu-inner py-1">
    <!-- 首頁 -->
    <li class="menu-item active">
        <a class="menu-link" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div>首頁</div>
        </a>
    </li>


    <!-- 帳號管理 -->
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-user-circle"></i>
            <div>帳號管理</div>
        </a>
        <ul class="menu-sub">
            <!-- 內部帳號管理 -->
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <div>內部帳號管理</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item"><a class="menu-link" asp-area="Employee" asp-controller="EmployeeAuth" asp-action="Register"><div>註冊</div></a></li>
                    <li class="menu-item"><a class="menu-link" asp-area="Employee" asp-controller="EmployeeAuth" asp-action="EmployeeList"><div>員工管理</div></a></li>
                    <li class="menu-item"><a class="menu-link" asp-area="Employee" asp-controller="EmployeeAuth" asp-action="Profile"><div>我的資料</div></a></li>
                </ul>
            </li>
            <!-- 外部帳號管理 -->
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <div>外部帳號管理</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item"><a class="menu-link" asp-area="Employee" asp-controller="CustomerAdmin" asp-action="CustomerList"><div>客戶資料</div></a></li>
                    <li class="menu-item"><a class="menu-link" asp-area="Employee" asp-controller="VendorAdmin" asp-action="VendorRegister"><div>廠商註冊</div></a></li>
                    <li class="menu-item"><a class="menu-link" asp-area="Employee" asp-controller="VendorAdmin" asp-action="VendorList"><div>廠商資料</div></a></li>
                </ul>
            </li>
        </ul>
    </li>

    <!-- 最新消息/優惠活動管理 -->
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-bullhorn"></i>
            <div>最新活動管理</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item"><a class="menu-link" asp-area="Admin" asp-controller="NewsTables" asp-action="Index"><div>最新消息</div></a></li>
            <li class="menu-item"><a class="menu-link" asp-area="Admin" asp-controller="Promotions" asp-action="Index"><div>優惠活動</div></a></li>
        </ul>
    </li>


    



    

    <!-- 報表分析 -->
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-magnifying-glass-chart"></i>
            <div>報表分析</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item"><a class="menu-link" asp-area="Admin" asp-controller="Reports" asp-action="Dashboard"><div>儀錶板</div></a></li>
            <li class="menu-item"><a class="menu-link" asp-area="Admin" asp-controller="Reports" asp-action="MemberSubscriptionRatio"><div>訂閱會員比例</div></a></li>
        </ul>
    </li>


        <!-- 登出 -->
        @await Html.PartialAsync("_Logout")



</ul>