

@* 4客服 *@
<ul class="menu-inner py-1">
    <!-- 首頁 -->
    <li class="menu-item active">
        <a class="menu-link" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div>首頁</div>
        </a>
    </li>
    <!-- 客服管理 -->
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-envelope-open-text"></i>
            <div>客服管理</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item"><a class="menu-link" asp-area="CustomerService" asp-controller="FAQs" asp-action="Index"><div>FAQs維護</div></a></li>
            <li class="menu-item"><a class="menu-link" asp-area="CustomerService" asp-controller="CustomerSupportTickets" asp-action="Index"><div>客服工單維護</div></a></li>
            <li class="menu-item"><a class="menu-link" asp-area="CustomerService" asp-controller="CustomerSupportFeedback" asp-action="Index"><div>客服評價維護</div></a></li>
        </ul>
    </li>
</ul>