<ul class="menu-inner py-1">
    <li class="menu-item active">
        <a class="menu-link" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">首頁</div>
        </a>
    </li>
    <li class="menu-item mt-2">
        <a class="menu-link" asp-area="Employee" asp-controller="EmployeeAuth" asp-action="Login">
            <i class="menu-icon tf-icons bx bx-user-circle"></i>
            <div data-i18n="Analytics">登入</div>
        </a>
    </li>
</ul>