@* Views/Shared/_Logout.cshtml *@
<li class="menu-item">
    <a href="#" class="menu-link"
       onclick="document.getElementById('logoutForm').submit(); return false;">
        <i class="menu-icon tf-icons fa-solid fa-right-from-bracket"></i>
        <div data-i18n="Logout">登出</div>
    </a>
</li>
