<ul class="menu-inner py-1">
    <!-- 首頁 -->
    <li class="menu-item active">
        <a class="menu-link" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div>首頁</div>
        </a>
    </li>


    <!-- 帳號管理 -->
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-user-circle"></i>
            <div>帳號管理</div>
        </a>
        <ul class="menu-sub">
            <!-- 內部帳號管理 -->
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <div>內部帳號管理</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item"><a class="menu-link" asp-area="Employee" asp-controller="EmployeeAuth" asp-action="Register"><div>註冊</div></a></li>
                    <li class="menu-item"><a class="menu-link" asp-area="Employee" asp-controller="EmployeeAuth" asp-action="EmployeeList"><div>員工管理</div></a></li>
                    <li class="menu-item"><a class="menu-link" asp-area="Employee" asp-controller="EmployeeAuth" asp-action="Profile"><div>我的資料</div></a></li>
                </ul>
            </li>
            <!-- 外部帳號管理 -->
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <div>外部帳號管理</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item"><a class="menu-link" asp-area="Employee" asp-controller="CustomerAdmin" asp-action="CustomerList"><div>客戶資料</div></a></li>
                    <li class="menu-item"><a class="menu-link" asp-area="Employee" asp-controller="VendorAdmin" asp-action="VendorRegister"><div>廠商註冊</div></a></li>
                    <li class="menu-item"><a class="menu-link" asp-area="Employee" asp-controller="VendorAdmin" asp-action="VendorList"><div>廠商資料</div></a></li>
                </ul>
            </li>
        </ul>
    </li>

    <!-- 最新消息/優惠活動管理 -->
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-bullhorn"></i>
            <div>最新活動管理</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item"><a class="menu-link" asp-area="Admin" asp-controller="NewsTables" asp-action="Index"><div>最新消息</div></a></li>
            <li class="menu-item"><a class="menu-link" asp-area="Admin" asp-controller="Promotions" asp-action="Index"><div>優惠活動</div></a></li>
        </ul>
    </li>

    <!-- 行程管理 -->
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-calendar-days"></i>
            <div>行程管理</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a class="menu-link" asp-area="ProductManagement" asp-controller="Products" asp-action="Index">
                    <div>產品檢視</div>
                </a>
            </li>
        </ul>
    </li>

    <!-- 優惠券管理 -->
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-ticket"></i>
            <div>優惠券管理</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a class="menu-link" asp-area="CouponManagement" asp-controller="Coupons" asp-action="Index">
                    <div>優惠券檢視</div>
                </a>
            </li>
        </ul>
    </li>

    <!-- 半自助/自助行程管理 -->
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-map-location-dot"></i>
            <div>半自助/自助行程管理</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item"><a class="menu-link" asp-area="TravelManagement" asp-controller="Locations" asp-action="Index"><div>景點</div></a></li>
            <li class="menu-item"><a class="menu-link" asp-area="TravelManagement" asp-controller="Restaurants" asp-action="Index"><div>美食</div></a></li>
            <li class="menu-item"><a class="menu-link" asp-area="TravelManagement" asp-controller="Hotels" asp-action="Index"><div>住宿</div></a></li>
            <li class="menu-item"><a class="menu-link" asp-area="TravelManagement" asp-controller="Transportations" asp-action="Index"><div>交通</div></a></li>
            <li class="menu-item"><a class="menu-link" asp-area="TravelManagement" asp-controller="Keywords" asp-action="Index"><div>關鍵字</div></a></li>
        </ul>
    </li>

    <!-- 訂單管理 -->
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-clipboard-list"></i>
            <div>訂單管理</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a class="menu-link" asp-area="Order" asp-controller="CustomerOrders" asp-action="Index">
                    <div>訂單檢視</div>
                </a>
            </li>
        </ul>
    </li>

    <!-- 報表分析 -->
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-magnifying-glass-chart"></i>
            <div>報表分析</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item"><a class="menu-link" asp-area="Admin" asp-controller="Reports" asp-action="Dashboard"><div>儀錶板</div></a></li>
            <li class="menu-item"><a class="menu-link" asp-area="Admin" asp-controller="Reports" asp-action="MemberSubscriptionRatio"><div>訂閱會員比例</div></a></li>
        </ul>
    </li>

<!-- 報表分析/最新消息活動管理 -->
<li class="menu-item">
    <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon fa-solid fa-newspaper"></i>
        <div data-i18n="ReportsAndNews">最新消息/優惠活動管理</div>
    </a>
    @* <ul class="menu-sub"> *@
        <!-- 最新消息活動管理 -->
        @* <li class="menu-item"> *@
            @* <a href="javascript:void(0);" class="menu-link menu-toggle">
                <div data-i18n="NewsAndPromotions">最新消息活動管理</div>
            </a> *@
            <ul class="menu-sub">
                <li class="menu-item">
                    <a class="menu-link" asp-area="Admin" asp-controller="NewsTables" asp-action="Index">
                        <div data-i18n="News">最新消息</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" asp-area="Admin" asp-controller="Promotions" asp-action="Index">
                        <div data-i18n="Promotions">優惠活動</div>
                    </a>
                </li>
            </ul>
    @*     </li>
    </ul> *@
   </li>

   <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon fa-solid fa-chart-pie"></i>
        <div data-i18n="ReportsAndNews">報表分析</div>
    </a>
    @* <ul class="menu-sub">
        <!-- 報表分析 -->
        <li class="menu-item"> *@
            @* <a href="javascript:void(0);" class="menu-link menu-toggle">
                <div data-i18n="Reports">報表分析</div>
            </a> *@
            <ul class="menu-sub">
                <li class="menu-item">
                    <a class="menu-link" asp-area="Admin" asp-controller="Reports" asp-action="Dashboard">
                        <div data-i18n="Dashboard">儀表板</div>
                    </a>
                </li>
                <li class="menu-item">
                        <a class="menu-link" asp-area="Admin" asp-controller="Reports" asp-action="MemberSubscriptionRatio">
                        <div data-i18n="SubscriptionRatio">訂閱會員比例</div>
                    </a>
                </li>
            </ul>
    @*     </li>
    </ul> *@
   </li>

    <!-- 客服 / FAQ 管理 -->
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-envelope-open-text"></i>
            <div>客服管理</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item"><a class="menu-link" asp-area="CustomerService" asp-controller="FAQs" asp-action="Index"><div>FAQs維護</div></a></li>
            <li class="menu-item"><a class="menu-link" asp-area="CustomerService" asp-controller="CustomerSupportTickets" asp-action="Index"><div>客服工單維護</div></a></li>
            <li class="menu-item"><a class="menu-link" asp-area="CustomerService" asp-controller="CustomerSupportFeedback" asp-action="Index"><div>客服評價維護</div></a></li>
        </ul>
        <!-- 登出 -->
            @await Html.PartialAsync("_Logout")
    </li>


</ul>
