
@* 6 *@
<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item active">
        <a class="menu-link" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">主頁面</div>
        </a>
    </li>

    <!-- #region 帳戶相關button -->
    <li class="menu-header text-uppercase">
        <i class="menu-icon tf-icons bx bx-user-circle"></i>
        <span class="menu-header-text">帳號管理</span>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-dock-top"></i>
            <div data-i18n="Account Settings">內部員工管理</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a class="menu-link" asp-area="Employee" asp-controller="EmployeeAuth" asp-action="Register">
                    <div data-i18n="Analytics">註冊</div>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" asp-area="Employee" asp-controller="EmployeeAuth" asp-action="EmployeeList">
                    <div data-i18n="Notifications">員工管理</div>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" asp-area="Employee" asp-controller="EmployeeAuth" asp-action="Profile">
                    <div data-i18n="Connections">我的資料</div>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" asp-area="Employee" asp-controller="CustomerAdmin" asp-action="CustomerList">
                    <div data-i18n="Connections">客戶資料</div>
                </a>
            </li>
        </ul>
    </li>
    <!-- #endregion -->
    <!-- #region 行程上/下架 相關button -->
    <li class="menu-header text-uppercase">
        <i class="menu-icon tf-icons fa-solid fa-calendar-days"></i>
        <span class="menu-header-text">行程/優惠券管理</span>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-ellipsis-vertical"></i>
            <div data-i18n="產品上下架">產品上下架</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a asp-area="ProductManagement" asp-controller="Products" asp-action="Index" class="menu-link">
                    <div data-i18n="產品檢視">產品檢視</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-ellipsis-vertical"></i>
            <div data-i18n="優惠券上/下架">優惠券上/下架</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a asp-area="CouponManagement" asp-controller="Coupons" asp-action="Index" class="menu-link">
                    <div data-i18n="優惠券檢視">優惠券檢視</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-ellipsis-vertical"></i>
            <div data-i18n="產品預覽">產品預覽</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="auth-login-basic.html" class="menu-link" target="_blank">
                    <div data-i18n="Account">Account</div>
                </a>
            </li>
        </ul>
    </li>

    <!-- #endregion -->
    <!-- #region 訂單相關button -->
    <li class="menu-header text-uppercase">
        <i class="menu-icon tf-icons fa-solid fa-clipboard-list"></i>
        <span class="menu-header-text">訂單管理</span>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-ellipsis-vertical"></i>
            <div data-i18n="訂單管理功能">訂單管理功能</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="auth-login-basic.html" class="menu-link" target="_blank">
                    <div data-i18n="Account">Account</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-ellipsis-vertical"></i>
            <div data-i18n="Email發送功能">Email發送功能</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="auth-login-basic.html" class="menu-link" target="_blank">
                    <div data-i18n="Account">Account</div>
                </a>
            </li>
        </ul>
    </li>
    <!-- #endregion -->
    <!-- #region 客服相關button -->
    <li class="menu-header text-uppercase">
        <i class="menu-icon tf-icons fa-solid fa-envelope-open-text"></i>
        <span class="menu-header-text">客服/FAQ管理 </span>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-ellipsis-vertical"></i>
            <div data-i18n="常見問題（FAQ）維護">常見問題（FAQ）維護</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="auth-login-basic.html" class="menu-link" target="_blank">
                    <div data-i18n="Account">Account</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-ellipsis-vertical"></i>
            <div data-i18n="客服工單維護">客服工單維護</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="auth-login-basic.html" class="menu-link" target="_blank">
                    <div data-i18n="Account">Account</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-ellipsis-vertical"></i>
            <div data-i18n="客服評價">客服評價</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="auth-login-basic.html" class="menu-link" target="_blank">
                    <div data-i18n="Account">Account</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-ellipsis-vertical"></i>
            <div data-i18n="客服黑名單管理">客服黑名單管理</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="auth-login-basic.html" class="menu-link" target="_blank">
                    <div data-i18n="Account">Account</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-ellipsis-vertical"></i>
            <div data-i18n="Email發送功能">Email發送功能</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="auth-login-basic.html" class="menu-link" target="_blank">
                    <div data-i18n="Account">Account</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-ellipsis-vertical"></i>
            <div data-i18n="客服聊天室功能">客服聊天室功能</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="auth-login-basic.html" class="menu-link" target="_blank">
                    <div data-i18n="Account">Account</div>
                </a>
            </li>
        </ul>
    </li>

    <!-- #endregion -->
    <!-- #region  -->
    <li class="menu-header text-uppercase">
        <i class="menu-icon tf-icons fa-solid fa-map-location-dot"></i>
        <span class="menu-header-text">半自助、自助行程管理</span>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-ellipsis-vertical"></i>
            <div data-i18n="景點庫上/下架">景點庫上/下架</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="auth-login-basic.html" class="menu-link" target="_blank">
                    <div data-i18n="Account">Account</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-ellipsis-vertical"></i>
            <div data-i18n="美食庫上/下架">美食庫上/下架</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="auth-login-basic.html" class="menu-link" target="_blank">
                    <div data-i18n="Account">Account</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-ellipsis-vertical"></i>
            <div data-i18n="住宿庫上/下架">住宿庫上/下架</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="auth-login-basic.html" class="menu-link" target="_blank">
                    <div data-i18n="Account">Account</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-ellipsis-vertical"></i>
            <div data-i18n="交通庫上/下架">交通庫上/下架</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="auth-login-basic.html" class="menu-link" target="_blank">
                    <div data-i18n="Account">Account</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-ellipsis-vertical"></i>
            <div data-i18n="景點庫上/下架">景點庫上/下架</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="auth-login-basic.html" class="menu-link" target="_blank">
                    <div data-i18n="Account">Account</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-ellipsis-vertical"></i>
            <div data-i18n="關鍵字搜尋">關鍵字搜尋</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="auth-login-basic.html" class="menu-link" target="_blank">
                    <div data-i18n="Account">Account</div>
                </a>
            </li>
        </ul>
    </li>
    <!-- #region  -->
    <li class="menu-header text-uppercase">
        <i class="fa-solid fa-magnifying-glass-chart"></i>
        <span class="menu-header-text">報表分析/最新消息活動管理</span>
    </li>

    <li class="menu-item">
        <a class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-ellipsis-vertical"></i>
            <div data-i18n="最新消息">最新消息與活動</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a class="menu-link" asp-area="Admin" asp-controller="NewsTables" asp-action="index">
                    <div data-i18n="最新消息">最新消息</div>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" asp-area="Admin" asp-controller="Promotions" asp-action="index">
                    <div data-i18n="優惠活動">優惠活動</div>
                </a>
            </li>
        </ul>
    </li>

    <li class="menu-item">
        <a class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-ellipsis-vertical"></i>
            <div data-i18n="報表分析">報表分析</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="auth-login-basic.html" class="menu-link" target="_blank">
                    <div data-i18n="test">test</div>
                </a>
            </li>
        </ul>
    </li>

    <!-- #endregion -->
    </li>
    @await Html.PartialAsync("_Logout")  <!-- 把登出放在同一個 menu-inner 裡 -->
    <!-- #endregion -->




</ul>