<ul class="menu-inner py-1">
    <!-- 首頁 -->
    <li class="menu-item active">
        <a class="menu-link" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div>首頁</div>
        </a>
    </li>
    <!-- 行程管理 -->
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-calendar-days"></i>
            <div>行程管理</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a class="menu-link" asp-area="ProductManagement" asp-controller="Products" asp-action="Index">
                    <div>產品檢視</div>
                </a>
            </li>
        </ul>
    </li>


    <!-- 半自助/自助行程管理 -->
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons fa-solid fa-map-location-dot"></i>
            <div>半自助/自助行程管理</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item"><a class="menu-link" asp-area="TravelManagement" asp-controller="Locations" asp-action="Index"><div>景點</div></a></li>
            <li class="menu-item"><a class="menu-link" asp-area="TravelManagement" asp-controller="Restaurants" asp-action="Index"><div>美食</div></a></li>
            <li class="menu-item"><a class="menu-link" asp-area="TravelManagement" asp-controller="Hotels" asp-action="Index"><div>住宿</div></a></li>
            <li class="menu-item"><a class="menu-link" asp-area="TravelManagement" asp-controller="Transportations" asp-action="Index"><div>交通</div></a></li>
            <li class="menu-item"><a class="menu-link" asp-area="TravelManagement" asp-controller="Keywords" asp-action="Index"><div>關鍵字</div></a></li>
        </ul>
    </li>
</ul>