@model Cat_Paw_Footprint.Models.Locations

@{
    ViewData["Title"] = "Create";
}

<h1>新增景點</h1>

<h4>景點詳細資訊</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LocationName" class="control-label"></label>
                <input asp-for="LocationName" class="form-control" />
                <span asp-validation-for="LocationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationAddr" class="control-label"></label>
                <input asp-for="LocationAddr" class="form-control" />
                <span asp-validation-for="LocationAddr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationLat" class="control-label"></label>
                <input asp-for="LocationLat" class="form-control" />
                <span asp-validation-for="LocationLat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationLng" class="control-label"></label>
                <input asp-for="LocationLng" class="form-control" />
                <span asp-validation-for="LocationLng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationDesc" class="control-label"></label>
                <input asp-for="LocationDesc" class="form-control" />
                <span asp-validation-for="LocationDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationPrice" class="control-label"></label>
                <input asp-for="LocationPrice" class="form-control" />
                <span asp-validation-for="LocationPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionID" class="control-label"></label>
                <select asp-for="RegionID" class ="form-control" asp-items="ViewBag.RegionID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DistrictID" class="control-label"></label>
                <select asp-for="DistrictID" class ="form-control" asp-items="ViewBag.DistrictID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Views" class="control-label"></label>
                <input asp-for="Views" class="form-control" />
                <span asp-validation-for="Views" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationCode" class="control-label"></label>
                <input asp-for="LocationCode" class="form-control" />
                <span asp-validation-for="LocationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationPics" class="control-label"></label>
                <input asp-for="LocationPics" class="form-control" />
                <span asp-validation-for="LocationPics" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationKeywords" class="control-label"></label>
                <input asp-for="LocationKeywords" class="form-control" />
                <span asp-validation-for="LocationKeywords" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="確認" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
