@{
    ViewData["Title"] = "首頁";
    var login = Context.Session.GetString("Login");
}

<div class="text-center">
    <h1 class="display-4">首頁</h1>
    <p>
        您的登入狀態:
        <span>
            @if (login == "True") 
            {
                @:登入中
            }
                
            else 
            {
                @:未登入 
            }
        </span>
        </p>
</div>

