.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 14px;
    margin-bottom: 14px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

#ticketTable {
    width: 100% !important;
    border-collapse: collapse !important;
    border: 2px solid #e6e6e6 !important;
    font-size: 15px;
}

/*#ticketTable th,
#ticketTable td {
    padding: 10px 12px !important;
    border: 1px solid #bbb !important;
    text-align: left;
    vertical-align: middle;
    font-size: 15px !important;
}*/

/* 表格外框 */
#ticketTable {
    border-collapse: collapse;
    width: 100%;
}

/* 表頭 */
#ticketTable th {
    background: #22b3C1 !important;
    color: #fff !important;
    font-weight: bold;
    text-align: center !important;
        
}

#ticketTable td:last-child {
    display: flex !important; /* 直接讓 td 變 flex */
    justify-content: center !important; /* 置中 */
    gap: 6px; /* 按鈕間距 */
    align-items: center; /* 垂直置中 */
    text-align: center;
}

/* 偶數列底色 */
#ticketTable tbody tr:nth-child(even) {
    background-color: #f9f9f9 !important;
}


.btn {
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
}



input[type="text"], input[type="number"], textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    background: #fff;
}

textarea {
    height: 80px;
    resize: none;
}

.modal .modal-content label {
    display: block;
    margin-bottom: 12px;
    font-weight: 500;
    color: #333;
}

.modal .modal-content input, .modal .modal-content select, .modal .modal-content textarea {
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    background: #fff;
}


/* 確保 autocomplete 下拉在 modal 之上 */
.ui-autocomplete {
    z-index: 9999 !important;
    max-height: 250px; /* 可選，防止太長 */
    overflow-y: auto;
}

